<footer>
  <div>
    <a href="https://github.com/BriannaRocha/quest-central"><i class="fab fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/rochabrianna/"><i class="fab fa-brands fa-linkedin"></i></a>
  </div>
</footer>
</body>
</html>
