<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
<nav>
  <i class="fas fa-solid fa-gamepad">Quest Central</i>
  <a href="/games">Games</a>
  <a href="/profiles">Profile</a>
  <a href="/reviews">Reviews</a>
  <% if (user) { %>
    <a href="/auth/logout">Logout</a>
  <% } %>
</nav>