<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
<nav>
  <img id="nav-logo" src="/assets/images/logo.png" alt="">
  <a href="/games">Games</a>
  <a href="/profiles">Profile</a>
  <a href="/reviews">Reviews</a>
  <% if (user) { %>
    <a href="/auth/logout">Logout</a>
  <% } %>
</nav>